ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  
}

ul li {
  border: 1px solid #ddd;
  margin: auto;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
}

li p {
  padding-left: 5%;
  text-transform: uppercase;
}

.patient-container{
  display: flex;
}

.welcomeText{
  display: inline;
  padding-top: '20px';
  color: white;
}

.moreBtn{
  margin-left: 20%;
}

.header{
  padding: 5% 0% 5% 0%;
  background-color: rgb(222, 92, 142);

}

.search{
  padding: '2px 4px';
  display: 'flex';
  align-items: 'center';
  width: 100,
}

.inputPatient{
  margin-left: 5%;
  flex: 2;
  width: fit-content;
}

.iconBtn{
  padding: 5%
}