ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  
}

ul li {
  border: 1px solid #ddd;
  margin: auto;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
}

li p {
  padding-left: 5%;
  text-transform: uppercase;
}

.patient-container{
  display: flex;
}

.welcomeText{
  display: inline;
  color: white;
}

.moreBtn{
  margin-left: 20%;
}

.header{
  display: flex;
  align-items: center;
  padding: 5% 0% 5% 0%;
  background-color: rgb(9, 20, 112);
}

.search{
  padding: '2px 4px';
  display: 'flex';
  justify-content: center;
  align-items: center;
  width: 50%,
  
}

.inputPatient{
  margin-left: 5%;
  flex: 2;
  width: 370px;
}

.iconBtn{
  padding: 5%
}

.mainContainer{
  background-color: rgb(230, 255, 255);
}