.moreContainer{
    padding-right: 10%;
    width: 50em;
    display: flex;

}
  .moreBtn{
    background-color:azure ;
    height: 50%;
    float: right;
  }
  
  .patient-container{
    display: flex;
  }
  
  p {
    padding-left: 5%;
  }