.moreContainer{
    width: 50em;
    height: 20px;
    display: flex;
    align-items: right;
    justify-content: right;
    position: relative;
}
  .moreBtn{

    background-color:rgb(255, 255, 255) ;
    position: absolute;
    right: 10px;
    height: 20px;
    border-radius: 40%;
  }
  
  .patient-container{
    display: flex;
  }
  
  p {
    padding-left: 5%;
  }


.SubmitBtn{
  width: 25vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  background-color:darkgrey;
  font-weight: 500;
  border-radius: 1vw;
}


